### IntelliJ IDEA ###
.idea
*.iml

### Mac OS ###
.DS_Store

### Git ###
.git
.github
.gitignore

### Build files ###
target
build

### Test output ###
test-output

### dockerignore ###
.dockerignore

### Скрипт запуска тестов с хоста ###
run-tests.sh

### Скрипт для отправки образа в Docker Hub ###
push-tests.sh

### Docker Compose ###
docker-compose